* {
  box-sizing: border-box;
}

.container {
  font-size: 0px;
}
.item-a {
  display: inline-block;
  width: 5vw;
  border: 1px solid #ccc;
  font-size: 1rem;
  min-width: 25rem; /*400px*/
  max-width: 43.75rem; /*700px*/
}
.item-b {
  display: inline-block;
  width: 50vw;
  height: 100vh;
  border: 1px solid #ccc;
  font-size: 2rem;
  min-height: 3.125rem;
  max-height: 12.5rem;
  overflow: auto;
  border: 0.0625rem solid #ccc;
}
