* {
  box-sizing: border-box;
}

body {
  background-color: #f5f6f7;
  color: #333;
}

/*목록 스타일*/
.vertical-list > li {
  font-size: 14px;
  padding: 2px 0;
}

.horizontal-list,
.vertical-list {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style-type: none;
}

.horizontal-item {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  padding: 20px 15px;
}

/*패딩 제거*/
.no-padding {
  padding: 0;
}

.active {
  background-color: #04aa6d;
  color: #fff;
}

img {
  vertical-align: bottom;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 999999;
}
.main-top-navigator {
  position: relative;
}

.position-right {
  position: absolute;
  right: 0;
  top: 0;
}

.fixed-header
  > .main-top-navigator
  > .horizontal-list:first-child
  > .horizontal-item:not(.no-hover):hover {
  background-color: #04aa6d;
  color: #fff;
}

.fixed-header
  > .main-top-navigator
  > .horizontal-list:last-child
  > .horizontal-item:not(.no-padding):hover {
  padding: 0px 5px;
}

.fixed-header
  > .main-top-navigator
  > .horizontal-list:last-child
  > .horizontal-item:last-child:hover {
  background-color: #fff;
  color: #04aa6d;
}

.fixed-header
  > .main-top-navigator
  > .horizontal-list:last-child
  > .horizontal-item:hover
  > div {
  padding: 10px;
  background-color: #eeea;
  border-radius: 20px;
}

.main-top-logo {
  width: 40px;
}

.skills {
  background-color: #333;
  color: #fff;
  padding: 0;
}

.fixed-header > .skills > .horizontal-list > .horizontal-item {
  padding: 3px 15px;
  font-size: 11px;
}

.fixed-header
  > .skills
  > .horizontal-list
  > .horizontal-item:not(.active):hover {
  background-color: #000;
}

.green-button {
  background-color: #04aa6d;
  border: 0px;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
}

.green-button:hover {
  background-color: #059862;
}

.purple-button {
  background-color: #9763f6;
  border: 0px;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
}

.purple-button:hover {
  background-color: #7d53cc;
}

.main-top-navigator,
.skills > .horizontal-list {
  width: 1400px;
  margin: 0 auto;
}

/*메인 컨텐츠 스타일*/
.contents {
  width: 1400px;
  margin: 0 auto;
  background-color: #fff;
  margin-top: 86px;
}

.fixed-side-area {
  position: fixed;
  background-color: #e7e9eb;
  width: 200px;
  overflow: auto;
  height: 100%;
  z-index: 98;
}

.fixed-side-area > h1 {
  margin: 20px 0 8px 0;
  font-size: 20px;
  font-weight: 500;
  padding-left: 10px;
}

.fixed-side-area > .vertical-list > li {
  padding-left: 10px;
}

.main-content {
  margin-left: 200px;
  padding: 10px 30px;
}

.main-content > .main-content-header {
  position: relative;
}

.main-content > .main-content-header > h1 {
  left: 0;
  font-size: 42px;
  font-weight: 500;
}

.main-content > .main-content-header > img {
  position: absolute;
  top: 0;
  right: 0;
}

.main-content > .main-content-header > .green-button:last-child {
  position: absolute;
  right: 0;
}

.main-content > .content > h2 {
  font-weight: 400;
  font-size: 32px;
}

.main-content > .content > div {
  margin: 8px 0;
}

.courses {
  position: relative;
}

.main-content > .content > .courses > .course-tutorial {
  background-color: #e6f6f0;
  width: 49.5%;
  height: 200px;
  display: inline-block;
  padding: 10px 0px;
  text-align: center;
  border-radius: 7px;
}

.main-content > .content > .courses > .course-certificate {
  position: absolute;
  right: 0;
  background-color: #f4effe;
  width: 49.5%;
  height: 200px;
  display: inline-block;
  padding: 10px 0px;
  text-align: center;
  border-radius: 7px;
}

.main-content > .content > .courses > .courses-center {
  position: absolute;
  top: calc(50% - 18px);
  left: calc(50% - 20px);
  background-color: #eee;
  border: 1px solid #aaa;
  padding: 10px;
  border-radius: 7px;
  z-index: 1;
}

.main-content > .content > .course-progress {
  width: 100%;
}
