.icon {
  display: inline-block;
}

.mail {
  width: 70px;
  height: 70px;
  background-image: url(./naver_sprite.png), url(./naver_sprite.png);
  background-repeat: no-repeat, no-repeat;
  background-size:
    786px 780px,
    786px 780px;
  background-position:
    -350px -373px /*메일 아이콘*/,
    -269px -246px /*뒷 배경*/;
}

.input-form {
  padding: 10px;
}

.input-form > div > input {
  padding: 10px;
  margin-right: 5px;
}

.background {
  width: 920px;
  height: 914px;
  border: 1px solid #000;
  background-image: url(./naver_sprite.png);
  background-repeat: no-repeat;
  background-size: 720px 714px;
  background-position: 0 0;
}
