* {
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
}
body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  min-width: 1200px;
}

.grid-layout {
  width: 1200px;
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}

.grid-left {
  /* background-color: blue; */
  grid-template-columns: 20px 1fr 20px 4fr 20px;
  margin: 10px;
  width: 570px;
}

.grid-right {
  /* background-color: red; */
  margin: 10px;
  width: 570px;
}

.top-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  margin: 10px;
}

.top-title > div:first-child {
  font-weight: 700;
}
.top-title > div:last-child {
  font-size: 12px;
}

.after::after {
  content: "->";
  background-color: #1bbd4c;
  border-radius: 12px;
  padding: 0 3px;
  color: white;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.middle-title > div {
  padding: 5px 25px;
  border-radius: 24px;
  margin: 20px;
}

.grid-left > .middle-title > div:first-child {
  background-color: #1bbd4c;
  padding: 5px 25px;
  border-radius: 24px;
  margin: 20px;
  color: #fff;
}

.grid-right > .middle-title > div:last-child {
  background-color: mediumslateblue;
  padding: 5px 25px;
  border-radius: 24px;
  margin: 20px;
  color: #fff;
}

.contents {
  display: grid;
  gap: 10px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.content {
  display: flex;
  flex-direction: row;
  font-size: 12px;
}

.bottom-content {
  grid-column: 1 / -1;
  font-size: 12px;
  color: #aaa;
}

.footer {
  border-radius: 24px;
  border: 1px solid #eee;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbfbfb;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.red {
  color: #ff0000;
}

.gray {
  color: #333;
}

.before::before {
  content: "쿠폰적용가";
  color: #ff0000;
  margin-right: 5px;
}
